{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <div class="am-tabs am-margin am-u-md-12 " data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">通用信息</a></li>
            <li><a href="#tab2">高级选项</a></li>
            <li><a href="#tab3">栏目内容</a></li>
        </ul>
    <div class="am-tabs-bd">
    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
        <input type="hidden" name="id" value="{$vo.id|default=''}">
        <div class="am-form-group">
            <label for="pid">上级栏目 </label>
            <select name="pid">
                {foreach name="categorylist" id="category"}
                {php} $id = isset($vo['pid']) ? $vo['pid'] : input('id', 'get');{/php}
                <option value="{$category.id}" {eq name="category.id|default='0'" value="$id"}selected{/eq}>{$category.name}</option>
                {/foreach}
            </select>
        </div>
        <div class="am-form-group">
            <label for="module">内容模型 </label>
            <select name="moduleid" id="data-type">
                {foreach name=":get_Allmodule()" item="module"}
                <option value="{$module.id}" {eq name="vo.moduleid|default='11'" value="$module.id"}selected{/eq}>{$module.title} | {$module.name}</option>
                {/foreach}
            </select>
        </div>
        <div class="am-form-group">
            <label for="name">栏目名称 </label>
            <input type="text" id="name" class="am-input-sm" name="name" placeholder="请输入栏目名称" required value="{$vo.name|default=''}">
        </div>
        <div class="am-form-group">
            <label for="isurl">外部链接 <small>外部连接（在"文件保存目录"处填写网址)</small></label><br/>
            <input type="checkbox" id="isurl" class="am-input-sm" name="isurl" value="{$vo.isurl|default=''}">
        </div>
        <div class="am-form-group" id="data-ename">
            <label for="ename">别名 </label><small>（默认为空则自动转换拼音 支持字母，数字）</small>
            <input type="text" id="ename" class="am-input-sm" name="ename" value="{$vo.ename|default=''}">
        </div>
        <div class="am-form-group">
            <label for="issend">是否支持投稿 </label><br/>
            <label class="am-radio-inline">
                <input type="radio" name="issend" value="0" {eq name="vo.issend|default='0'" value="0"}checked{/eq}>否
            </label>
            <label class="am-radio-inline">
                <input type="radio" name="issend" value="1" {eq name="vo.issend|default='0'" value="1"}checked{/eq}>是
            </label>
        </div>
        <div class="am-form-group">
            <label for="sort">排序 </label>
            <input type="text" id="sort" class="am-input-sm" name="sort" value="{$vo.sort|default='100'}">
        </div>
    </div>

    <div class="am-tab-panel am-fade am-in" id="tab2">
        <div class="am-form-group">
            <label for="tempindex">频道模版 </label>
            <input type="text" id="tempindex" class="am-input-sm" name="template_index"  value="{$vo.template_index|default='index_article.htm'}">
        </div>
        <div class="am-form-group">
            <label for="templist">列表模版 </label>
            <input type="text" id="templist" class="am-input-sm" name="template_list"  value="{$vo.template_list|default='list_article.htm'}">
        </div>
        <div class="am-form-group">
            <label for="tempshow">内容模版 </label>
            <input type="text" id="tempshow" class="am-input-sm" name="template_show"  value="{$vo.template_show|default='show_article.htm'}">
        </div>
        <div class="am-form-group">
            <label for="seotitle">SEO标题 </label>
            <input type="text" id="seotitle" class="am-input-sm" name="seotitle"  value="{$vo.seotitle|default=''}">
        </div>
        <div class="am-form-group">
            <label for="keywords">关键字 </label>
            <input type="text" id="keywords" class="am-input-sm" name="keywords"  value="{$vo.keywords|default=''}">
        </div>
        <div class="am-form-group">
            <label for="description">栏目描述 </label>
            <textarea name="description" rows="5">{$vo.description|default=''}</textarea>
        </div>
    </div>
    <div class="am-tab-panel am-fade am-in" id="tab3">
        <textarea name="content" rows="5"></textarea>
    </div>
    </div>
    <button type="submit" onclick="return submitForm();" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
    </div>
</form>
<script type="text/javascript">
    var cateArray = new Array();
    {foreach name=":get_Allmodule()" item="module"}
    cateArray[{$module.id}] = "{$module.name}";
    {/foreach}
    $(function(){
        $('#data-type').change(function(){
            var cateValue = cateArray[$(this).val()];
            $('#tempindex').val('index_'+cateValue+'.htm');
            $('#templist').val('list_'+cateValue+'.htm');
            $('#tempshow').val('show_'+cateValue+'.htm');

        })

        $('#isurl').on('click', function(){
            if($(this).prop('checked'))
            {
                $('#data-ename').find('label').html('链接地址');
                $('#data-ename').find('small').hide();
            }else{
                $('#data-ename').find('label').html('别名');
                $('#data-ename').find('small').show();
            }
        })
    });
</script>
<style>
    .am-checkbox-inline{ margin-left: 0px;}
</style>
{/block}