{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <input type="hidden" name="data[id]" value="{$item.id|default=''}">
    <input type="hidden" name="data[type]" value="{$item.type|default=input('type', 'get')}">
    <div class="am-tabs am-margin am-u-md-12 " data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">基本</a></li>
            <li><a href="#tab2">扩展</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <div class="am-form-group">
                    <label for="cid">栏目分类 </label>
                    <select name="data[cid]">
                        {foreach name="categorylist" id="category"}
                        {php} $id = isset($item['cid']) ? $item['cid'] : input('id', 'get');{/php}
                        <option value="{$category.id}" {eq name="category.id|default='0'" value="$id"}selected{/eq}>{$category.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="am-form-group">
                    <label for="title">标题 </label>
                    <input type="text" id="title" class="am-input-sm" name="data[title]" value="{$item.title|default=''}" placeholder="请输入标题" required/>
                </div>
                <div class="am-form-group">
                    <label for="thumb">缩略图 </label>
                    <div class="am-form-inline"><input class="am-form-field" id="uploadOne" name="data[thumb]" value="{$item.thumb|default=''}" style="width:75%;"/> <div class="am-btn am-btn-primary am-radius am-btn-sm up-picture-btn"> <span>添加图片</span><input id="fileupload" type="file" name="mypic" data-url="{:url('attachment/upload')}"></div> <a href="javascript:;" onclick="openWindow(this);" data-url="{:url('attachment/browseFile')}" title="站内图片" class="am-btn am-btn-success am-radius am-btn-sm ">站内图片</a></div>
                </div>


                {foreach name="attributelist" id="attribute" key="k"}
                {php}$defaults = isset($item[$attribute['name']]) ? $item[$attribute['name']] : '';{/php}
                        {switch name="attribute.type"}
                            {case value="text"}{include file="tag/text"}{/case}
                            {case value="hidden"}{include file="tag/hidden"}{/case}
                            {case value="array"}{include file="tag/array"}{/case}
                            {case value="radio"}{include file="tag/radio"}{/case}
                            {case value="checkbox"}{include file="tag/checkbox"}{/case}
                            {case value="select"}{include file="tag/select"}{/case}
                            {case value="date"}{include file="tag/date"}{/case}
                            {case value="picture"}{include file="tag/picture"}{/case}
                            {case value="pictures"}{include file="tag/pictures"}{/case}
                            {case value="file"}{include file="tag/file"}{/case}
                            {case value="files"}{include file="tag/files"}{/case}
                            {case value="media"}{include file="tag/media"}{/case}
                            {case value="medias"}{include file="tag/medias"}{/case}
                            {case value="editor"}{include file="tag/editor"}{/case}
                            {case value="textarea"}{include file="tag/textarea"}{/case}
                        {/switch}
                {/foreach}
                <div class="am-form-group">
                    <label for="content">内容 </label>
                    <textarea id="content" name="data[content]" style="height: 400px;"></textarea>
                    <script type="text/javascript">
                        KindEditor.ready(function(K) {
                            window.editor = K.create('#content', {
                                allowImageUpload : true,
                                uploadJson : "{:url('attachment/upload')}?filename=imgFile",
                            });
                        });
                    </script>
                </div>
            </div>

            <div class="am-tab-panel am-fade" id="tab2">
                <div class="am-form-group">
                    <label>SEO标题</label>
                    <input type="text" name="data[seotitle]" id="seotitle" class="am-input-sm" value="{$item.seotitle|default=''}">
                </div>
                <div class="am-form-group">
                    <label>关键词</label>
                    <input type="text" name="data[keywords]" id="keywords" class="am-input-sm" value="{$item.keywords|default=''}">
                </div>
                <div class="am-form-group">
                    <label>描述</label>
                    <textarea rows="5" name="data[description]">{$item.description|default=''}</textarea>
                </div>
            </div>
            <!--<button type="submit" onclick="return submitForm();" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>-->
            <button type="submit" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
        </div>
    </div>
</form>
{/block}