{extend name="common/index"/}
{block name="container"}
<div class="am-container">
<ul class="am-avg-sm-4 am-index-avg">
    <li><div class="am-primary">
        <span class="am-fr">622</span>
        <span class="am-icon-file-text-o"></span> 文章数</div></li>
    <li><div class="am-success">
        <span class="am-fr">125</span>
        <span class="am-icon-commenting-o"></span> 评论</div></li>
    <li><div class="am-warning">
        <span class="am-fr">1025</span>
        <span class="am-icon-users"></span> 用户</div></li>
    <li><div class="am-danger">
        <span class="am-fr">65201</span>
        <span class="am-icon-eye"></span> 浏览</div></li>
</ul>
<h3><span class="am-icon-th-large"></span> 快捷管理</h3>
<ul class="am-avg-sm-5 am-index-avg-menu">
    <li><a href="" class="am-btn am-btn-default am-radius am-btn-block am-icon-plus"> 发布文章</a></li>
    <li><a href="" class="am-btn am-btn-default am-radius am-btn-block am-icon-file-text-o"> 文章管理</a></li>
    <li><a href="" class="am-btn am-btn-default am-radius am-btn-block am-icon-comments-o"> 评论管理</a></li>
    <li><a href="" class="am-btn am-btn-default am-radius am-btn-block am-icon-bars"> 栏目管理</a></li>
    <li><a href="" class="am-btn am-btn-default am-radius am-btn-block am-icon-th"> 分类管理</a></li>
</ul>
<div class="am-legend am-margin-bottom-sm am-margin-top-xl"><span class="am-icon-file-text-o"></span> 待审核主题</div>
<ul class="am-list">
    <li><a href="#">列表内容</a></li>
</ul>
<div class="am-legend am-margin-bottom-sm"><span class="am-icon-commenting-o"></span> 待审核评论</div>
<ul class="am-list">
    <li><a href="#">列表内容</a></li>
</ul>
<div class="am-footer am-text-sm">
    <div class="am-text-xs am-text-note">
        DuoThinkCMS版本：{:config('cms_vcs')} / ThinkPHP版本：{$Think.THINK_VERSION} / 服务器信息：
        {$_SERVER['SERVER_SOFTWARE']} / /mysql  上传许可：{:ini_get('upload_max_filesize')}
        <p class="am-margin-0">
            技术支持 <a href="http://www.pe666.net" target="_blank">imdante</a> /
            联系QQ <a href="http://wpa.qq.com/msgrd?v=3&uin=763093576&site=qq&menu=yes" target="_blank">763093576</a>
            &copy; powered by duothinkcms!
        </p>
    </div>
</div>
</div>
{/block}