{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <legend><span class="am-icon-plus"></span> {if get_action()=='add'}添加{else/}修改{/if}权限</legend>
    <input type="hidden" name="id" value="{$vo.id|default=''}">
    <div class="am-form-group">
        <label for="title">用户名 </label>
        <input type="text" id="title" class="am-input-sm" name="title" placeholder="请输入用户组" required value="{$vo.title|default=''}">
    </div>
    <div class="am-form-group">
        <label for="description">描述 </label>
        <textarea name="description" rows="5">{$vo.description|default=''}</textarea>
    </div>
    <button type="submit" onclick="return submitForm();" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
</form>
{/block}