{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <input type="hidden" name="group_id" value="{:input('group_id', 'get')}">
    <div class="am-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li {if get_action()=='access'}class="am-active"{/if}><a href="{:url('access', ['group_id' => input('group_id', 'get')])}">访问权限</a></li>
            <li {if get_action()=='seek'}class="am-active"{/if}><a href="{:url('seek', ['group_id' => input('group_id', 'get')])}">成员授权</a></li>
        </ul>
    </div>

    <button type="submit" onclick="return submitForm();"  class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
</form>

{/block}

