{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <legend><span class="am-icon-plus"></span> {if get_action()=='add'}添加{else/}修改{/if}配置</legend>
    <input type="hidden" name="id" value="{$vo.id|default=''}">
    <div class="am-form-group">
        <label for="name">名称 </label>
        <input type="text" id="name" class="am-input-sm" name="name" placeholder="请输入配置名称" required value="{$vo.name|default=''}">
    </div>
    <div class="am-form-group">
        <label for="name">标题 </label>
        <input type="text" id="title" class="am-input-sm" name="title" placeholder="请输入配置标题" required value="{$vo.title|default=''}">
    </div>
    <div class="am-form-group">
        <label for="name">类型 </label>
        <select name="type">
            {php}$type_list = set_config_type();{/php}
            {foreach name="type_list" item="type_vo"}
            <option value="{$key}" {eq name="vo.type|default=1" value="$key"}selected{/eq}>{$type_vo}</option>
            {/foreach}
        </select>
    </div>
    <div class="am-form-group">
        <label for="name">分组 </label>
        <select name="group_id">
            {php}$group_list = set_config_group();{/php}
            {foreach name="group_list" item="group_vo"}
            <option value="{$key}" {eq name="vo.group_id|default=0" value="$key"}selected{/eq}>{$group_vo}</option>
            {/foreach}
        </select>
    </div>
    <div class="am-form-group">
        <label for="name">值 </label>
        <textarea name="value" rows="5">{$vo.value|default=''}</textarea>
    </div>
    <div class="am-form-group">
        <label for="name">可选值</label>
        <textarea name="tvalue" rows="5">{$vo.tvalue|default=''}</textarea>
    </div>
    <div class="am-form-group">
        <label for="name">排序 </label>
        <input type="text" id="sort" class="am-input-sm" name="sort" value="{$vo['sort']|default=100}">
    </div>
    <div class="am-form-group">
        <label for="name">状态 </label>
        <select name="status">
            {foreach name=":set_status()" item="status_vo"}
            <option value="{$key}" {eq name="vo.status|default=1" value="$key"}selected{/eq}>{$status_vo}</option>
            {/foreach}
        </select>
    </div>
    <button type="submit" onclick="return submitForm();" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
</form>
{/block}