{extend name="common/index"/}
{block name="content"}
<div class="am-legend">
    <span class="am-icon-bars"></span> {:lang('Config List')}
</div>
<div class="am-btn-toolbar am-margin-top am-margin-bottom-sm">
    <a href="{:url('add')}" class="am-btn am-btn-success am-btn-xs am-radius am-icon-plus"> {:lang('Add Config')}</a>
</div>
<table class="am-table am-table-hover">
    <thead>
    <tr>
        <th width="60" align="center">ID</th>
        <th>{:lang('Name')}</th>
        <th>{:lang('Title')}</th>
        <th>{:lang('Type')}</th>
        <th>{:lang('Value')}</th>
        <th>{:lang('Sort')}</th>
        <th>{:lang('Status')}</th>
        <th width="200">{:lang('Management')}</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td align="center">{$vo.id}</td>
        <td>{$vo.name}</td>
        <td>{$vo.title}</td>
        <td>{$vo.type|set_config_type}</td>
        <td>{:str2sub($vo.value, 30, 1)}</td>
        <td>{$vo.sort}</td>
        <td>{$vo.status}</td>
        <td>
            <div class="am-btn-group am-btn-group-xs">
                <a class="am-btn am-btn-default am-icon-pencil am-radius" title="编辑" href="{:url('edit', ['id' => $vo['id']])}"></a>
                <span class="am-btn am-btn-default am-icon-trash-o am-radius" data-del="{id: {$vo.id}, url: '{:url('del')}', target:'del'}" title="删除"></span>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{/block}
{block name="md"}
<div class="am-modal am-modal-confirm" tabindex="-1" id="del">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除确认</div>
        <div class="am-modal-bd">
            你将删除选中栏目，此删除不可逆！请谨慎操作！
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
{/block}