{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form am-form-horizontal">
    <input type="hidden" value="{:input('groupId', 1)}" name="group_id">
    <div class="am-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            {php}$group_list = set_config_group();{/php}
            {foreach name="group_list" item="group_vo"}
            {if $key != 0}
            <li  {eq name="$key" value=":input('groupId', 1)"}class="am-active"{/eq}>

                <a href="{:url('site', ['groupId' => $key])}">{$group_vo}</a>
            </li>
            {/if}
            {/foreach}
        </ul>
        <br/>
        {if input('groupId', 'get') == 6}
        <div class="tables">

                <dl class="tabs">
                    <dt style="width:10%; ">上传方式</dt>
                    <dd style="width:90%;"><input type="radio" value="0" name="config[UPLOAD_TYPE]" {if cache_config('UPLOAD_TYPE') == 0} checked{/if} data-id="tags1"> 本地 <input type="radio" value="1" name="config[UPLOAD_TYPE]" {if cache_config('UPLOAD_TYPE') == 1} checked{/if} data-id="tags2"> 七牛 </dd>
                </dl>

            <div id="tags1" style="{if cache_config('UPLOAD_TYPE') == 0}display:block{else/}display:none{/if}">
                <dl>
                    <dt style="width:10%; ">上传方式</dt>
                    <dd style="width:90%;"><input type="radio" value="0" name="config[CHECK_CAPTCHA]" checked > 本地 <input type="radio" value="1" name="config[CHECK_CAPTCHA]"  > 七牛 </dd>
                </dl>
            </div>
            <div id="tags2" style="{if cache_config('UPLOAD_TYPE') == 1}display:block{else/}display:none{/if}">
                <dl>
                    <dt style="width:10%;">Access_Key</dt>
                    <dd style="width:90%;"><input class="am-form-field" name="config[UPLOAD_QINIU_ACCESS_KEY]" value="{:cache_config('UPLOAD_QINIU_ACCESS_KEY')}"></dd>
                </dl>
                <dl>
                    <dt style="width:10%;">Secret_Key</dt>
                    <dd style="width:90%;"><input class="am-form-field" name="config[UPLOAD_QINIU_SECRET_KEY]" value="{:cache_config('UPLOAD_QINIU_SECRET_KEY')}"></dd>
                </dl>
                <dl>
                    <dt style="width:10%;">Bucket</dt>
                    <dd style="width:90%;"><input class="am-form-field" name="config[UPLOAD_QINIU_BUCKET]" value="{:cache_config('UPLOAD_QINIU_BUCKET')}"></dd>
                </dl>
                <dl>
                    <dt style="width:10%;">七牛域名</dt>
                    <dd style="width:90%;"><input class="am-form-field" name="config[UPLOAD_QINIU_DOMAIN]" value="{:cache_config('UPLOAD_QINIU_DOMAIN')}"></dd>
                </dl>
            </div>
            <dl>
                <dt style="width:10%;">上传目录</dt>
                <dd style="width:90%;"><input class="am-form-field" name="config[UPLOAD_URL]" value="{:cache_config('UPLOAD_URL')}"></dd>
            </dl>
        </div>
        {/if}

        {if $list}
        <table class="am-table am-table-hover">
            <tbody>
            {foreach name="list" item="vo"}
                <tr>
                    <td width="10%">{$vo.title}：</td>
                    <td width="60%">{:set_form_config($vo['type'], $vo['name'], $vo['value'], $vo['tvalue'])}</td>
                    <td width="20%">{$vo.name}</td>
                </tr>
            {/foreach}
            </tbody>
        </table>
        {/if}
    </div>
    <div class="am-form-group">
        <div class="am-u-sm-2">&nbsp;</div>
        <div class="am-u-sm-10">
            <button type="submit" onclick="return submitForm();" class="am-btn am-btn-sm am-btn-primary am-radius am-icon-check"> 提交保存</button>
        </div>
    </div>
</form>
<script>

    $(function(){

        $(".tabs dl dd input[type='radio']").on('click', function(){
            var ids = $(this).attr('data-id');
            $('#'+ids).show().siblings('div').hide();
        })
    })

</script>
{/block}