<div class="am-form-group">
  <label for="{$attribute['type']}">{$attribute['title']} </label> &nbsp;<button type="button" class="am-btn am-btn-primary am-btn-xs">新增图片</button>
  <ul class="picarr">
    <li>
      <span>

      </span>
      <span><button type="button" class="am-btn am-btn-primary am-btn-xs">添加图片</button></span>
      <span><button type="button" class="am-btn am-btn-success am-btn-xs">站内图片</button></span>
    </li>
  </ul>
</div>
<style>
  .picarr{list-style-type: none; margin: 10px 0; padding: 0;}
  .picarr li{float: left; width: 160px; height:160px; background: #ddd; margin-right: 10px;}
  .picarr li {}
</style>
