<div class="am-form-group">
  <label for="{$attribute['type']}">{$attribute['title']} </label>
  <br/>
  {if $attribute['extra'] == null}
  {foreach name=":set_status()" id="arr"}
     <label class="am-radio-inline"><input type="radio" value="{$key}"  name="attribute[{$attribute['name']}]">{$arr}</label>
  {/foreach}
  {else}
      {php}$arrays = explode(PHP_EOL, trim($attribute['extra']));{/php}
      {foreach name="arrays" id="arr"}
          {php}
              $array = explode('|', $arr);
          {/php}
  <label class="am-radio-inline"><input type="radio" value="{$array[0]}" name="attribute[{$attribute['name']}]">{$array[1]}</label>
      {/foreach}
  {/if}
</div>
