<div class="am-form-group">
  <label for="{$attribute['type']}">{$attribute['title']} </label>
  <select name="attribute[{$attribute['name']}]">
    {if $attribute['extra'] == null}
    {foreach name=":set_status()" id="arr"}
    <option value="{$key}" >{$arr}</option>
    {/foreach}
    {else}
    {php}$arrays = explode(PHP_EOL, trim($attribute['extra']));{/php}
    {foreach name="arrays" id="arr"}
    {php}
    $array = explode('|', $arr);
    {/php}
    <option value="{$array[0]}" >{$array[1]}</option>
    {/foreach}
    {/if}
  </select>
</div>
