{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <legend><span class="am-icon-plus"></span> {if get_action()=='attribute_add'}添加{else/}修改{/if}字段</legend>
    <input type="hidden" name="id" value="{$vo.id|default=''}">
    <input type="hidden" name="doc_type" value="{$vo.doc_type|default=input('mod', 'get')}"/>
    <div class="am-form-group">
        <label for="name">字段名称 </label>
        <input type="text" id="name" class="am-input-sm" name="name" placeholder="请输入字段名称" required value="{$vo.name|default=''}">
    </div>
    <div class="am-form-group">
        <label for="title">字段标题 </label>
        <input type="text" id="title" class="am-input-sm" name="title" placeholder="请输入字段标题" required value="{$vo.title|default=''}">
    </div>
    <div class="am-form-group">
        <label for="type">字段类型 </label>
        <select name="type" id="data-type">
            <option value="">请选择</option>
            {foreach name=":get_attribute_type()" item="attribute"}
            <option value="{$key}" rule="{$attribute[1]}" {eq name="vo.type|default=''" value="$key"}selected{/eq}>{$attribute[0]}</option>
            {/foreach}
        </select>
    </div>
    <div class="am-form-group">
        <label for="field">字段定义 <small>（字段属性的sql表示）</small></label>
        <input type="text" id="field" class="am-input-sm data-field" name="field" placeholder="请输入字段定义" required value="{$vo.field|default=''}">
    </div>
    <div class="am-form-group">
        <label for="extra">可选值 <small>（radio/select的定义数据）</small></label>
        <textarea name="extra" rows="5">{$vo.extra|default=''}</textarea>
    </div>
    <div class="am-form-group">
        <label for="value">字段默认值 </label>
        <input type="text" id="value" class="am-input-sm" name="value" value="{$vo.value|default=''}">
    </div>
    <div class="am-form-group">
        <label for="is_show">是否显示 </label>
        <select name="is_show">
            {foreach name=":set_status()" item="show"}
            <option value="{$key}" {eq name="vo.is_show|default=1" value="$key"}selected{/eq}>{$show}</option>
            {/foreach}
        </select>
    </div>
    <div class="am-form-group">
        <label for="is_must">是否必填 </label>
        <select name="is_must">
            {foreach name=":set_status()" item="must"}
            <option value="{$key}" {eq name="vo.is_must|default=0" value="$key"}selected{/eq}>{$must}</option>
            {/foreach}
        </select>
    </div>
    <div class="am-form-group">
        <label for="validate_type">验证方式 </label>
        <select name="validate_type">
            {foreach name=":get_attribute_validate()" item="validate"}
            <option value="{$key}" {eq name="vo.validate_type|default='regex'" value="$key"}selected{/eq}>{$validate}</option>
            {/foreach}
        </select>
    </div>
    <div class="am-form-group">
        <label for="validate_rule">验证规则 <small>（根据验证方式定义相关验证规则）</small></label>
        <input type="text" id="validate_rule" class="am-input-sm" name="validate_rule" value="{$vo.validate_rule|default=''}">
    </div>
    <div class="am-form-group">
        <label for="error_info">出错提示 </label>
        <input type="text" id="error_info" class="am-input-sm" name="error_info" value="{$vo.error_info|default=''}">
    </div>
    <button type="submit" onclick="return submitForm();" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
</form>
<script type="text/javascript">
    $(function(){
        $('#data-type').change(function(){
            $('#field').val($(this).find('option:selected').attr('rule'));
        });
    })
</script>
{/block}
