{extend name="common/index"/}
{block name="content"}
<form action="{:url('')}" method="POST" role="form" class="am-form" id="am-form-validator">
    <legend><span class="am-icon-plus"></span> {if get_action()=='add'}添加{else/}修改{/if}模型</legend>
    <input type="hidden" name="id" value="{$vo.id|default=''}">
    <div class="am-form-group">
        <label for="name">模型名称 </label>
        <input type="text" id="name" class="am-input-sm" name="name" placeholder="请输入模型名称" required value="{$vo.name|default=''}">
    </div>
    <div class="am-form-group">
        <label for="title">模型标题 </label>
        <input type="text" id="title" class="am-input-sm" name="title" placeholder="请输入模型标题" required value="{$vo.title|default=''}">
    </div>
    <div class="am-form-group">
        <label for="sort">排序 </label>
        <input type="text" id="sort" class="am-input-sm" name="sort" value="{$vo.sort|default='100'}">
    </div>
    <button type="submit" onclick="return submitForm();" class="am-btn am-btn-primary am-btn-sm am-icon-check"> 确认添加</button>
</form>
<style>
    .am-checkbox-inline{ margin-left: 0px;}
</style>

{/block}