<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>后台管理中心 powered by wlite!</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {js href="__admin__/js/jquery-1.12.4.min.js"/}
    {js href="__admin__/js/jquery.form.min.js"/}
    {js href="__static__/kindeditor/kindeditor-all-min.js"/}
    {css href="__admin__/css/amazeui.min.css"}
    {css href="__admin__/css/acp.min.css"}
    {block name="css"}{/block}
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <h1 class="am-topbar-brand">
        <a href="{:url('admin/index/index')}">
            <span class="am-icon-dashcube am-text-success"></span>
            DuoThink
            <span class="am-text-default am-text-top am-text-secondary"> · 多想</span></a>
    </h1>
    <nav class="am-topnav am-fl">
        <ul class="am-nav am-nav-pills">
            {foreach name="__MENU__.main" item="menu"}
            <li class="{$menu.class|default=''}"><a href="{$menu.url|url}"> <span class="{$menu.icon|default=''}"></span> {$menu.name}</a></li>
            {/foreach}


        </ul>
    </nav>
    <div class="am-topbar-right">
        <ul class="am-nav am-nav-pills">
            <li><a href="/" target="_blank" class="am-icon-desktop"> 访问网站</a></li>
            <li><a href="javascript:clearCacheFile();" target="_blank" class="am-icon-refresh"> 刷新缓存</a></li>
            <li><a href="javascript:;" class="am-icon-bell"> 消息通知</a></li>
            <li><a href="javascript:;"> <span class="am-icon-btn"><img src="__admin__/husky_logo.jpg" width="30"></span> admin欢迎回来</a></li>
            <li><a href="{:url('Helper/logout')}" class="am-icon-th-large"> 退出</a></li>
        </ul>
    </div>
</header>
<div class="">
    {block name="container"}
    <ol class="am-breadcrumb">
        <li><a href="{:url('index/index')}" class="am-icon-dashboard"> 控制台首页</a></li>
        <li><a href=""><i class=""></i>asdasd</a></li>

    </ol>

    <div class="am-g">
        <div class="am-u-sm-left">
            <ul class="am-nav">
                {foreach name="__MENU__.child" item="sub_menu"}
                    {notempty name="sub_menu"}
                        {foreach name="sub_menu" item="menu"}
                        {if $menu['id'] == 29}
                             <li class="{$menu.class|default=''} am-level"><a href="javascript:;"> <span class="am-icon-minus-square"> {$menu.name}</span></a>
                                <ul style="display: block;">
                                    {foreach name="categoryMenu" item="category"}
                                    <li><a href="{$menu.url|url}?type={$category.id}">{$category.name}</a></li>
                                    {/foreach}
                                </ul>
                             </li>
                        {else/}
                            <li class="{$menu.class|default=''}"><a href="{$menu.url|url}" class="{$menu.icon|default=''}"> {$menu.name}</a></li>
                        {/if}
                        {/foreach}
                    {/notempty}
                {/foreach}

                <li name="" value=""><a href="" class="am-icon-"> </a></li>

            </ul>
        </div>
        <div class="am-u-sm-right">
            {block name="content"}{/block}
        </div>
    </div>
    {/block}
</div>
{block name="md"}{/block}
<div class="am-alert am-alert-success am-animation-slide-top"></div>
<div class="am-alert am-alert-danger am-animation-slide-top"></div>
<!--[if lt IE 9]>
{js href="__admin__/js/modernizr.js"/}
{js href="__admin__/js/amazeui.ie8polyfill.min.js"/}
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
{js href="__admin__/js/amazeui.min.js"/}
<!--<![endif]-->
{js href="__admin__/js/acp.min.js"/}
{js href="__static__/layer/layer.js"/}
{js href="__static__/common.js"/}
{block name="js"}{/block}
</body>
</html>