<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>后台管理中心 powered by wlite!</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  {js href="__admin__/js/jquery-1.12.4.min.js"/}
  <!--{css href="__libcss__/amazeui.min.css"}-->
  <link rel="stylesheet" href="__admin__/css/amazeui.min.css">
  {css href="__admin__/css/acp.min.css"}
</head>
<body>
{block name="content"}{/block}

{js href="__static__/layer/layer.js"/}
{js href="__static__/common.js"/}
</body>
</html>